:root {
   --primary:       #494949;
   --secondary:     #5d8eba;
   --tertiary:      #FFF;
   --accent1:       #81D7D8;
   --accent2:       #947ED1;
   --border-radius: 5px;
   font-family: 'Roboto', sans-serif;
   box-sizing: border-box;
}

html {
   min-height: 100vh;
}

a {
   color: var(--primary);
   display: inline-block;
   text-decoration: none;
   margin: 5px 0;
}

body {
   background: linear-gradient(135deg, rgb(240, 240, 240) 50%, rgb(220, 220, 220) 100%);
   color: var(--primary);
   margin: 0px 5%;
}

main {
   margin: 0 auto;
   max-width: 50rem;
}

h3 {
   padding: 0;
   margin: 5px;
   font-style: italic;
}

p {
   padding: 0;
   margin: 5px;
}

.bio .title > p:first-child {
   font-size: 1.75rem;
   font-weight: bold;
}

.bio .title > p:last-child {
   font-size: 1.25rem;
}

.container {
   margin: 0 auto;
   padding: 0;
   max-width: 100%
}

.description {
   padding: 0;
   list-style: '+' inside;
   margin: auto 8px;
}

.description p {
   display: inline;
}

.description li {
   margin: 6px auto;
}

.factoid > p {
   margin: 5px 0;
}

.factoid > p:first-child {
   font-weight: bold;
   margin: 0;
}

.factoids {
   display: flex;
   flex-flow: wrap;
   justify-content: space-around;
   text-align: center;
   width: 100%;
}

/* ~730px */
@media (min-width: 45.628rem) {
   .factoids {
      justify-content: space-between;
      text-align: left;
      max-width: 50rem;
   }
}

.intro {
   margin-bottom: 1rem;
   margin-top: 10px;
   display: flex;
   flex-flow: row wrap;
}

.side-item .title > p:first-child {
   font-size: 1.25rem;
}

.title {
   align-items: center;
   display: flex;
   font-style: italic;
   flex-flow: row wrap;
}

.work-item {
   border-radius: var(--border-radius);
   padding: 10px;
   background-color: var(--tertiary);
   margin: 16px 0;
   transition: 150ms;
   box-sizing: border-box;
   border-left: 5px solid var(--tertiary);
}

.work-item:nth-child(even):hover {
   border-left: 5px solid var(--accent2);
}

.work-item:nth-child(odd):hover {
   border-left: 5px solid var(--accent1);
}

.work-item .title > p:first-child {
   font-size: 1.25rem;
   font-weight: bold;
}

.work-item .title > p:last-child {
   font-size: 1.125rem;
   margin: 8px;
}
